<div class="py-3">
  <%= form_with(model: @bibliographic_file, url: url) do |form| %>
    <div class="error_explanation">
      <% if @bibliographic_file.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(@bibliographic_file.errors.count, "error") %> prohibited this bibliographic_file from being saved:</h2>
          <ul>
            <% @bibliographic_file.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-6">
        <%= form.label "Tipo de documento" %>
        <%= form.select :document_type, document_types, {include_blank: true}, {:class => "form-select"} %>
      </div>
      <div class="col-6">
        <%= form.label "Lengua del documento" %>
        <%= form.text_field :document_language, class: "form-control" %>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-6">
        <%= form.label "Primer lengua" %>
        <%= form.text_field :language_y, class: "form-control" %>
      </div>
      <div class="col-6">
        <%= form.label "Segundo lengua" %>
        <%= form.text_field :language_y2, class: "form-control" %>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-4">
        <%= form.label "Nombre(s) del/a autor/a principal" %>
        <%= form.text_field :researcher_first_name, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "Apellido(s) del/a autor/a principal" %>
        <%= form.text_field :researcher_last_name, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "Género" %>
        <%= form.text_field :gender, class: "form-control" %>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-8">
        <%= form.label "Título" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "Año" %>
        <%= form.number_field :year, class: "form-control" %>
      </div>

    </div>
    <br />
    <hr />
    <br />
    <legend class="text-center">Datos B</legend>
    <% if @bibliographic_file.b_data %>
      <div class="pb-3">
        <div class="card">
          <div class="card-body">
            <p class="h4">Mostrando datos B antiguo </p>
            <%= @bibliographic_file.b_data %>
            <hr/>
            <p class="h4">Mostrando datos B nuevo </p>
            <%= @bibliographic_file.data %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row g-3 mb-3">
      <div class="col-4">
        <%= form.label "journal_bookname" %>
        <%= form.text_field :journal_bookname, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "Editorial" %>
        <%= form.text_field :publisher, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "Ciudad" %>
        <%= form.text_field :city_country, class: "form-control" %>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-4">
        <%= form.label "editor_record" %>
        <%= form.text_field :editor_record, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "Volumen" %>
        <%= form.text_field :volume, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "Numero de volumen" %>
        <%= form.text_field :volume_number, class: "form-control" %>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-4">
        <%= form.label "isbn" %>
        <%= form.text_field :isbn, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "issn" %>
        <%= form.text_field :issn, class: "form-control" %>
      </div>
      <div class="col-4">
        <%= form.label "doi" %>
        <%= form.text_field :doi, class: "form-control" %>
      </div>
    </div>
    <div class="row g-3 mb-3">
      <div class="col-4">
        <%= form.label "Numero de pagina" %>
        <%= form.number_field :page_number, class: "form-control"  %>
      </div>
      <div class="col-4">
        <%= form.label "¿Usar datos b nuevo?" %>
        <br/>
        <%= form.check_box :new_b_data, class: "form-check-input" %>
      </div>
    </div>
    <br />
    <hr />
    <br />
    <div class="row g-3 mb-3">
      <div class="col-6 fs-5">
        <div>
          <%= form.label "¿Candado libre?" %>
          <%= form.check_box :free_lock, class: "form-check-input" %>
        </div>
        <div>
          <%= form.label "¿Es un manuscrito?" %>
          <%= form.check_box :ms, class: "form-check-input" %>
        </div>
        <div>
          <%= form.label "¿Se puede descargar directamente un PDF?" %>
          <%= form.check_box :pdf, class: "form-check-input" %>
        </div>
        <div>
          <%= form.label "¿Hay un enlace a algún archivo o dirección?" %>
          <%= form.check_box :has_access, class: "form-check-input", id:"toggle_check" %>
          <div class=" control-me">
            <%= form.text_field :acces_link, class: "form-control" %>
          </div>
        </div>
      </div>
      <div class="col-6 g-3 mb-3">
        <div>
          <%= form.label "Pais" %>
          <%= form.text_field :country, class: "form-control" %>
        </div>
        <div>
          <%= form.label "Base" %>
          <%= form.text_field :base, class: "form-control"  %>
        </div>
        <div>
          <%= form.label "N1" %>
          <%= form.select :n1, n1s, {include_blank: true}, {:class => "form-select"}  %>
        </div>
        <div>
          <%= form.label "N2" %>
          <%= form.select :n2, n1s, {include_blank: true}, {:class => "form-select"}  %>
        </div>
      </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      <%= form.submit "Guardar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>



  


