<div id="<%= dom_id bibliographic_file %>">
  <tr>
    <td><%= bibliographic_file.year %></td>
    <td><%= resercher_full_name(bibliographic_file) %></td>
    <td><%= bibliographic_file.gender %></td>
    <td><%= bibliographic_file.ms %></td>
    <td><%= bibliographic_file.language_y %></td>
    <td><%= bibliographic_file.language_y %></td>
    <td><%= bibliographic_file.title %></td>
    <td><%= bibliographic_file.b_data %></td>
    <td><%= bibliographic_file.n1.try(:capitalize) %></td>
    <td><%= bibliographic_file.n2.try(:capitalize) %></td>
    <td><%= bibliographic_file.document_language %></td>
    <td><%= bibliographic_file.base %></td>
  </tr>
</div>
