<p style="color: green"><%= notice %></p>

<div class="card mb-3">
  <div class="card-header">
    Filtros
  </div>
  <div class="card-body">
		<%= search_form_for @q do |f| %>
			<%= f.label "Tipo de documento" %>
			<%= f.select(:document_type_eq, options_for_select(BibliographicFile.document_types.map {|k, v| [k.humanize.capitalize, v]}, f.object.document_type_eq), { include_blank: true }, {class: "form-select" }) %>
					
			<%= f.label "n1" %>		
			<%= f.select(:n1_eq, options_for_select(BibliographicFile.n1s.map {|k, v| [k.humanize.capitalize, v]}, f.object.n1_eq), { include_blank: true }, {class: "form-select" }) %>

			<%= f.label "language y" %>
			<%= f.select(:language_y_eq, languages, { include_blank: true }, {class: "form-select" }) %>
			
			<%= f.label "Busqueda" %>
			<%= f.text_field :language_y_or_language_y2_cont, class: 'form-control' %>
			<%= f.submit "Buscar", class: 'btn btn-primary mt-3 mb-3' %>
			<%= link_to "Limpiar", request.path, class: "btn btn-secondary mt-3 mb-3" %>
		<% end %>
  </div>
</div>

<% if device == "desktop" %>
  <%= render partial: 'desktop' %>

<% else %>
	<%= render partial: 'mobile' %>
<% end %>


<%== pagy_bootstrap_nav(@pagy) %>


<div class="d-grid gap-2">
	<%= link_to "Crear un nuevo archivo bibliografico", new_bibliographic_file_path, class: "btn btn-outline-dark mb-3" %>
</div>