<p style="color: green"><%= notice %></p>

<%= render @bibliographic_file %>

<div>
  <%= link_to "Edit this bibliographic file", edit_bibliographic_file_path(@bibliographic_file) %> |
  <%= link_to "Back to bibliographic files", bibliographic_files_path %>

  <%= button_to "Destroy this bibliographic file", @bibliographic_file, method: :delete %>
</div>
