<p class="h2 pb-3 text-center">Índice de investigadores</p>

<table class="table table-striped fs-4">  
	<tr>
		<th scope="col">Nombre</th>
		<th scope="col">Lengua</th>
		<th scope="col">Nivel</th>
		<th></th>
	</tr>
	<% @researchers.each do |researcher|  %>
		<tr>
			<td><%= link_to full_name(researcher), admin_researcher_path(researcher), "data-controller": "turbo" %></td>
			<td><%= researcher.main_language %></td>
			<td><%= researcher.main_language_level %></td>
			<td>
				<%= link_to edit_admin_researcher_path(researcher), "data-controller": "turbo" do %>
					<i class="bi bi-files" style="color:black"></i>
				<% end %>
      </td>
		</tr>
	<% end %>
</table>

<div class="text-center">
	<%= link_to "Crear nuevo investigador", new_admin_researcher_path, "data-controller": "turbo", class: 'btn btn-primary mx-2'%>
	<%= link_to "Crear investigador a base de usuario existente", user_researcher_new_admin_researcher_path, "data-controller": "turbo", class: ' mx-2 btn btn-primary '%>
</div>

