<%# TODO: Refactorizar esto con desktop, mobile y bibi_search... %>

<div id="<%= dom_id bibliographic_file %>">
  <tr>
    <td class="text-center">
      <%= image_tag("public/drawings/#{bibliographic_file.free_lock == true ? 'lock' : 'unlock'}.svg", width: 10) %>
      <% if bibliographic_file.pdf %>
        <i class="bi bi-file-pdf"></i>
      <% end %>
      <% if bibliographic_file.ms %>
        <i>MS</i>
      <% end %>
    </td>
    <td><%= bibliographic_file.id %></td>
    <td><%= bibliographic_file.year %></td>
    <td>
      <b class="pb-3"><%= resercher_full_name(bibliographic_file) %></b>
      <br />
      <br />
      <% bibliographic_file.secondary_authors.each do |author|%>
        <p class="m-0"><%= author.full_name %></p>
      <% end %>
    </td>
    <td><%= bibliographic_file.gender %></td>
    <td><%= bibliographic_file.language_y %></td>
    <td><%= bibliographic_file.language_y2 %></td>
    <% if bibliographic_file.has_access && bibliographic_file.acces_link %>
      <td><%= link_to bibliographic_file.title, bibliographic_file.acces_link %></td>
    <% else %>
      <td><%= bibliographic_file.title %></td>
    <% end %>
    

    <td><%= bibliographic_file.b_data %></td>
    <td><%= bibliographic_file.n1.try(:capitalize) %></td>
    <td><%= bibliographic_file.n2.try(:capitalize) %></td>
    <td><%= bibliographic_file.document_language %></td>
    <td><%= bibliographic_file.base %></td>
    <% if current_page?(admin_bibliographic_files_path) %>
      <td>
        <%= link_to edit_admin_bibliographic_file_path(bibliographic_file), "data-controller": "turbo" do %>
          <i class="bi bi-files" style="color:black"></i>
        <% end %>
        <%= link_to admin_bibliographic_file_versions_path(bibliographic_file), "data-controller": "turbo" do %>
          <i class="bi bi-book" style="color:black"></i>
        <% end %>
        <%= link_to admin_bibliographic_file_researchers_path(bibliographic_file), "data-controller": "turbo" do %>
          <i class="bi bi-person" style="color:black"></i>
        <% end %>
      </td>
    <% end %>
  </tr>
</div>
