<%# TODO: Eliminar version movil y hacer el media query %>
<table class="table">
	<thead>
		<tr>
			<th scope="col"><%= sort_link(@q, :year, "Año", default_order: :asc) %></th>
			<th scope="col">Investigador</th>
			<th scope="col"><%= sort_link(@q, :gender, "Género", default_order: :asc) %></th>
			<th scope="col"><%= sort_link(@q, :ms, "Ms", default_order: :asc) %></th>
			<th scope="col"><%= sort_link(@q, :language_y, "Idioma_y", default_order: :asc) %></th>
			<th scope="col"><%= sort_link(@q, :language_y2, "Idioma_y2", default_order: :asc) %></th>
			<th scope="col">Título</th>
			<th scope="col">Datos B</th>
			<th scope="col"><%= sort_link(@q, :n1, "N1", default_order: :asc) %></th>
			<th scope="col"><%= sort_link(@q, :n2, "N2", default_order: :asc) %></th>
			<th scope="col"><%= sort_link(@q, :document_language, "Idioma", default_order: :asc) %></th>
			<th scope="col"><%= sort_link(@q, :base, "Base", default_order: :asc) %></th>
		</tr>
	</thead>
	<tbody>
		<% @files.each do |file| %>
			<%= render partial: "shared/bibliographic_file", object: file %>
		<% end %>
	</tbody>
</table>
