<% @files.each_with_index do |file, index| %> 
	<table class="table table-bordered <%= index.even? ? "table-secondary" : ""%>">
		<tbody>
			<tr>
				<th>Candado:</th>
				<td>si</td>
			</tr>
			<tr>
				<th>Año</th>
				<td><%= file.year %></td>
			</tr>
			<tr>
				<th>Investigador</th>
				<td><%= resercher_full_name(file) %></td>
			</tr>
			<tr>
				<th>Género</th>
				<td><%= file.gender %></td>
			</tr>
			<tr>
				<th>Lengua primaria</th>
				<td><%= file.language_y %></td>
			</tr>
			<tr>
				<th>Lengua secundario</th>
				<td><%= file.language_y2 %></td>
			</tr>
			<tr>
				<th>Título</th>
				<td><%= file.title %></td>
			</tr>
			<tr>
				<th>Datos_B</th>
				<td><%= file.b_data %></td>
			</tr>
			<tr>
				<th>Nivel de lengua primario</th>
				<td><%= file.n1 %></td>
			</tr>
			<tr>
				<th>Nivel de lengua secundario</th>
				<td><%= file.n2 %></td>
			</tr>
			<tr>
				<th>Idioma</th>
				<td><%= file.document_language %></td>
			</tr>
			<tr>
				<th>Base</th>
				<td><%= file.base %></td>
			</tr>
		</tbody>
	</table>
<% end %>

	