<main class="form-signin">
  <h1 class="align-items-start display-1">Iniciar sesión</h1>
  <div class="container">
    <div id="login-row" class="row justify-content-center align-items-center">
      <div id="login-column" class="col-md-5">
        <div id="login-box" class="col-md-12">
          <div id="login-form" class="form" action="" method="post">

            <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>  
              <div class="form-floating my-5">
                <%= render "devise/shared/error_messages", resource: resource %>
                <div class="field my-4">
                  <%= f.email_field :email, autofocus: true, class: "form-control rounded btn btn-lg rounded-pill", style:"border-color: #D9D9D9; background-color: white", placeholder: "Email" %>
                </div>

                <div class="field my-4">
                  <%= f.password_field :password, class: "form-control btn btn-lg rounded-pill", style:"border-color: #D9D9D9; background-color: white", placeholder: "Contraseña" %>
                </div>

                <% if devise_mapping.rememberable? %>
                  <div class="field my-3">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>
                <% end %>

                <div class="actions my-4">
                  <%= f.submit "Ingresar", class: "form-control btn-lg btn-primary rounded-pill", style:"background-color: black; border-color: black" %>
                </div>
              </div>

            <% end %>
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= image_tag("public/drawings/cactus.svg", class: "position-absolute end-0 me-5") %>
</main>



