<div id="carouselExampleIndicators" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <% @carousel_elements.each_with_index do |element, index| %>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index.zero? %>" aria-label="Slide <%= index %>"></button>
    <% end %>
  </div>
    <div class="carousel-inner bg-white">
  <% @carousel_elements.each_with_index do |element, index| %>
      <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
        <%= image_tag(element.image, class: "d-block") %>
      </div>
  <% end %>
    </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="p-0">



	<div class="row text-center py-5">
		<div class="col">
			<%= link_to image_tag("public/drawings/cucapa.svg"), search_engine_path(q: {language_y_in: 'Cocopa'}), class: "fa fa-plus-square" %>
		</div>
		<div class="col">
			<%= link_to image_tag("public/drawings/paipai.svg"), search_engine_path(q: {language_y_in: 'Pa ipai'}), class: "fa fa-plus-square" %>
		</div>
		<div class="col">
			<%= link_to image_tag("public/drawings/kiliwa.svg"), search_engine_path(q: {language_y_in: 'Kiliwa'}), class: "fa fa-plus-square" %>
		</div>
		<div class="col">
			<%= link_to image_tag("public/drawings/cochimi.svg"), search_engine_path(q: {language_y_in: 'Cochimi'}), class: "fa fa-plus-square" %>
		</div>
		<div class="col">
			<%= link_to image_tag("public/drawings/koahl.svg"), search_engine_path(q: {language_y_in: 'Cocopa'}), class: "fa fa-plus-square" %>
		</div>
		<div class="col">
			<%= link_to image_tag("public/drawings/kumiai.svg"), search_engine_path(q: {language_y_in: 'Kumeyaay'}), class: "fa fa-plus-square" %>
		</div>
	</div>

  <div class="row bg-white justify-content-center text-center py-5">
    <p class="fs-4">
			Este proyecto tiene como objetivo reunir y organizar en un solo espacio las distintas investigaciones relacionadas con las lenguas yumanas, con énfasis en aquellas que se hablan en México, para hacerla universalmente accesible y útil. 
			<br>ALYUM tiene dos ejes principales: el buscador bibliográfico, especializado en investigación lingüística de todas las lenguas yumanas; y el buscador léxico o BULE, que cuenta con unidades léxicas capturadas de distintos trabajos.
			<br>ALYUM también contempla otras iniciativas que pueden ser consultadas en la pestaña de Proyectos de la página. 
		</p>
		<%= link_to "Ir Busqueda avanzada", search_engine_path, class: "btn btn-primary btn-lg w-auto" %>
  </div>
</div>
