<div class="p-0">
  <div class="row">
    <div class="col-8">
      <h1 class="align-items-start display-1">Yumanos</h1>
			<p class="display-3">
				Aliquam erat volutpat. Praesent gravida purus. 
			</p>
    </div>
		<div class="col-1"></div>
    <div class="col my-auto pb-2">
			<%= image_tag("public/drawings/yumans.svg", width: 150) %>
    </div>
  </div>

	<div class="row bg-black">
		<hr/>
		<hr/>
		<hr/>
	</div>

	<div class="row p-0">
		<%= image_tag("public/yumans/background.jpg", width: "auto", class:"p-0") %>
	</div>

	<div class="row bg-white text-center py-5">
		<div class="col">
			<%= image_tag("public/drawings/cucapa.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/paipai.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/kiliwa.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/cochimi.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/koahl.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/kumiai.svg") %>
		</div>
	</div>

	<div class="row justify-content-center bg-white">
		<div class="col-8 fs-4 text-center p-5">
			<p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In pharetra nulla vitae erat bibendum, vel cursus massa iaculis. Sed eget massa magna. In vitae ipsum vitae est lacinia mattis. Aliquam erat volutpat. Praesent gravida purus vitae erat hendrerit dictum. Proin eget malesuada diam. Cras eu nulla at dolor iaculis sollicitudin. Suspendisse sem leo, interdum in tincidunt nec, gravida at magna.</p>
			<p>Aliquam erat volutpat. Vivamus ut urna sodales, accumsan tortor quis, finibus odio. Morbi eget augue sollicitudin lectus malesuada porta. Fusce maximus ipsum vel nulla posuere, quis tincidunt nisl egestas. Aenean tincidunt eget purus vel dignissim. Nam consequat rutrum augue, faucibus laoreet mauris accumsan nec. Aenean sem nisi, accumsan at facilisis vel, finibus non neque. Vestibulum convallis urna consequat, varius neque sed, egestas velit. Quisque vitae malesuada metus, sit amet laoreet leo. Fusce scelerisque ipsum eget turpis sollicitudin egestas. Etiam malesuada diam vel ligula ultrices, eu aliquet ligula rutrum. Aliquam consequat eros at dui ultrices, at tincidunt lorem feugiat.</p>
			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Praesent nulla mi, vestibulum nec aliquet a, fringilla dictum enim. Vestibulum a turpis et mauris sodales cursus. Donec porttitor consectetur enim, eu venenatis purus feugiat id. Pellentesque aliquam diam id feugiat euismod. Aenean semper nisl non massa vestibulum mattis. Donec vehicula maximus odio et vulputate. Praesent congue nulla ac leo eleifend iaculis. Pellentesque venenatis metus sit amet libero congue imperdiet. Vestibulum suscipit lectus sed nulla dapibus ornare. Sed vehicula auctor aliquet.</p>
			<p>Integer fermentum lacus vel arcu suscipit gravida. Aliquam erat volutpat. Donec congue faucibus auctor. Proin non pulvinar risus. Vestibulum at ultricies nulla, ac ornare est. Pellentesque sapien mauris, dapibus in ex at, tincidunt aliquam turpis. Nulla facilisi. Nulla id massa eu velit ultrices congue. In magna metus, feugiat eget orci et, bibendum aliquam tortor. Maecenas venenatis tincidunt tellus ut pellentesque. Proin vitae dui et neque hendrerit aliquam. Nulla a massa tempus, gravida magna in, volutpat mauris. Vestibulum id erat vitae libero efficitur faucibus eu mollis odio. Morbi nec commodo augue, a dapibus quam.</p>
		</div>
	</div>
</div>