<div class="p-0">
	<div class="row pt-2 bg-white">
	  <div class="col my-auto pb-2">
			<%= image_tag("public/navbar/logo.png", width: 275, class: "mx-3") %>
    </div>
    <div class="col-8">
    </div>
  </div>
  <div class="row pt-2">
	  <div class="col my-auto pb-2">
    </div>
    <div class="col-8 text-center align-self-center">
      <h1 class="align-items-start display-1">Yumanos</h1>
    </div>
    <div class="col my-auto pb-2">
			<%= image_tag("public/drawings/yumans.svg", width: 130) %>
    </div>
  </div>

	<div class="row bg-black">
		<hr/>
		<hr/>
		<hr/>
	</div>

	<div class="row p-0">
		<%= image_tag("public/yumans/background.jpg", width: "auto", class:"p-0") %>
	</div>

	<div class="row bg-white text-center py-5">
		<div class="col">
			<%= image_tag("public/drawings/cucapa.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/paipai.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/kiliwa.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/cochimi.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/koahl.svg") %>
		</div>
		<div class="col">
			<%= image_tag("public/drawings/kumiai.svg") %>
		</div>
	</div>

	<div class="row justify-content-center bg-white">
		<i class="col-8 fs-2 text-justify pt-5 px-5">
			… la cultura yumana es excepcional; es la única cultura prehistórica de la cual conocemos su diferenciación etnolingüística, sus estrategias de supervivencia, su tecnología de caza y de recolección, así como su organización social, cosmovisión, cantos y tradición oral (Garduño, 2015: 17).
		</i>
		<div class="col-8 fs-4 text-justify p-5">
			El grupo etnolingüístico yumano está conformado por varias comunidades que habitan lo que hoy se conoce como Baja California y Sonora, en México, así como el sur de California y Arizona, en Estados Unidos, a lo largo del Rio Colorado, hasta la altura del Lago Mohave. Usualmente las agrupaciones lingüísticas de esta familia se distribuyen de la siguiente manera: la gran familia yumana-cochimí se divide en dos líneas con sus mismos nombres. Lamentablemente, en la actualidad, todas las lenguas que formaron parte de la línea cochimí están extintas —para más información sobre las lenguas cochimí, consultar este sitio. Por el lado de las yumanas, se dividen en cuatro grandes grupos: la rama rivereña, la rama delta-californiana, la rama pai y la lengua kiliwa, en su propia rama.
		</div>
		<figure class="text-center">
			<%= image_tag("public/yumans/family.png", width: 450,  alt: "Edit Entry", data: { title: 'Rails Application' })%>
			<figcaption class="fs-5"><i>Familia yumana-cochimí (Sánchez-Fernández, 2022).</i></figcaption>
		</figure>
		<div class="col-8 fs-4 text-justify p-5">
			La rama rivereña está conformada por las lenguas mojave, maricopa y quechan. Cabe señalar que estas lenguas reciben distintos nombres por parte de investigadores, así como las autodenominaciones de los propios grupos. Sumado a esto, también se debe considerar que se trata de agrupaciones lingüísticas y no de una sola lengua. En la rama delta-californiana tenemos al cucapá, al kumiai y al ko’alh. Para el caso de las primeras dos lenguas, se encuentran distintas comunidades de habla, siendo la kumiai la más numerosa y diversa. El ko’alh es una lengua que se habla en la comunidad indígena de Santa Catarina, en Ensenada, y que, hasta hace pocos años, ha sido integrada en los estudios mexicanos. En el caso de la rama Pai, se encuentra dividida en dos agrupaciones: el grupo Pai Norteño, donde se encuentran las variantes del havasupai, hualapai y yavapai; estas lenguas se hablan en Arizona, en Estados Unidos. Por otro lado, la lengua pa ipai, en su propia subrama, es la única lengua de esta agrupación que se habla en territorio mexicano, en el mismo territorio que los ko’alh y cerca de los kiliwa.
			<br>
			<br>
			En el siguiente mapa (basado y traducido de Miller (2018)) se puede observar cómo esta diferenciación lingüística está distribuida en distintas comunidades de habla, lo que da origen a distintas variantes lingüísticas con características particulares.
		</div>
		<figure class="text-center">
			<%= image_tag("public/yumans/map.png", width: 450,  alt: "Edit Entry", data: { title: 'Rails Application' })%>
		</figure>
		<div class="col-8 fs-4 text-justify p-5">
			Actualmente todas las lenguas yumanas están en grave peligro de desaparecer (Moseley, 2010; Embriz Osorio y Zamora Alarcón, 2012). ALYUM es un esfuerzo por fortalecer la investigación lingüística y generar un espacio de acceso e intercambio de conocimiento entre los miembros de las comunidades e investigadores lingüistas.
		</div>
		<div class="col-8 fs-4 text-end px-5">
			Manuel Alejandro Sánchez Fernández.
		</div>
		<div class="fw-bold col-8 fs-3 text-start px-5">
			Referencias:
		</div>
		<div class="col-8 fs-4 text-justify pt-3 pb-5 px-5 d-grid gap-3">
			<div>Embriz Osorio, A. y Zamora Alarcón, Ó. (eds.) (2012) México. Lenguas indígenas nacionales en riesgo de desaparición: Variantes lingüísticas por grado de riesgo. 2000. México: Instituto Nacional de Lenguas Indígenas.</div>
			<div>Garduño, E. (2015). Yumanos. México: Comisión Nacional para el Desarrollo de los Pueblos Indígenas. Disponible en: <a href="https://www.gob.mx/cms/uploads/attachment/file/196965/cdi-monografia-yumanos-web.pdf" class="link-primary">https://www.gob.mx/cms/uploads/attachment/file/196965/cdi-monografia-yumanos-web.pdf</a></div>
			<div>Miller, A. (2018) “Phonological Developments In Delta-California Yuman”, International Journal of American Linguistics, 84(3), pp. 383–433. doi: 10.1086/697588.</div>
			<div>Moseley, C. (ed.) (2010) Atlas of the World’s Languages in Danger. 3a ed. Paris: UNESCO Publishing. Disponible en: <a href="http://www.unesco.org/culture/en/endangeredlanguages/atlas" class="link-primary">http://www.unesco.org/culture/en/endangeredlanguages/atlas.</a></div>
			<div>Sánchez-Fernández, M. A. (2022) “La investigación lingüística de las lenguas yumanas en México (LYUM)”, Expedicionario. Revista de estudios en Antropología, 2(4).</div>
		</div>
	</div>
</div>