.py-3
  = form_with(model: @lexico_file, url: url) do |form|
    .error_explanation
      - if @lexico_file.errors.any?
        %div{:style => "color: red"}
          %h2
            = pluralize(@lexico_file.errors.count, "error")
            prohibited this lexico_file from being saved:
          %ul
            - @lexico_file.errors.each do |error|
              %li= error.full_message
    .row.g-3.mb-3
      .col-6
        = form.label "Lengua"
        = form.text_field :language, class: "form-control"
      .col-6
        = form.label "Palabra"
        = form.text_field :word, class: "form-control"

    .row.g-3.mb-3
      .col-6
        = form.label "Español"
        = form.text_field :spanish_word, class: "form-control"
      .col-6
        = form.label "Ingles"
        = form.text_field :english_word, class: "form-control"

    .row.g-3.mb-3
      .col-6
        = form.label "Page"
        = form.text_field :page, class: "form-control"
      .col-6
        = form.label "Prestador"
        = form.text_field :provider, class: "form-control"
    .row.g-3.mb-3
      .col-6
        = form.label "Alfabeto"
        = form.select :alphabet_id, @alphabets.collect{|p| [p.name, p.id]}, { include_blank: ""}, {:class => "form-select",}
      .col-3
        = form.label "Traducido"
        = form.check_box :translated, class: "form-check-input"
      .col-3
        = form.label "Audio"
        = form.check_box :audio, class: "form-check-input"
    .row.g-3.mb-3
      = form.label "Subir audio"
      = form.file_field :audio_file, class: "form-control"

    

    .row.g-3.mb-3
      = form.label "Seleccionar archivo bibliografico relacionado"
      = form.select :bibliographic_file_id, BibliographicFile.pluck(:title, :id), {include_blank: true}, {data: { controller: 'slim', slim_target: 'field' } }

      .modal-footer
        %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Cerrar
        = form.submit "Guardar", class: "btn btn-primary"

