<nav class="navbar navbar-expand-lg navbar-dark lined bg-black">
  <button class="navbar-toggler me-3" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav  ms-auto">
      <li class="nav-item mx-4">
        <%= link_to "Inicio", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "Yumanos", yumans_path, class: "nav-link" %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "Investigadores", researchers_path, class: "nav-link" %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "Gráficas", graphs_path, class: "nav-link" %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "Proyectos", projects_path, class: "nav-link" %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "Nosotros", about_us_path, class: "nav-link" %>
      </li>
      <li class="nav-item mx-4">
        <%= link_to "Ir Busqueda avanzada", search_engine_path, class: "nav-link" %>
      </li>
      <li class="nav-item d-lg-none">
        <% if current_user %>
          <li class="nav-item dropdown d-lg-none">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <div class="fa fa-user"></div>
              <b><%= current_user.email %></b>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "Editar cuenta", edit_user_registration_path, class: "fa fa-cog dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" %>
              <%= link_to "Administrador", admin_bibliographic_files_path, class: "fa fa-cog dropdown-item" %>
              <%= link_to "Salir", destroy_user_session_path, 'data-turbo-method': :get, class: "fa fa-sign-out-alt dropdown-item" %>
            </ul>
          </li>
        <% else %>
          <%= link_to "Iniciar sesión", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light lined <%= current_page?(search_engine_path) ? 'bg-primary' : 'bg-white' %>">
  <%= link_to image_tag("public/navbar/logo.png", width: 200), root_path, class: "navbar-brand ms-5" %>
  <ul class="navbar-nav  ms-auto  align-items-center">

    <li class="nav-item ms-3 d-none d-lg-block">
      <form class="d-flex">
        <input class="form-control me-2 border rounded-pill" type="search">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </form>
    </li>
    
    <li class="nav-item ms-3 d-none d-lg-block">
      <% if current_user %>
        <li class="nav-item dropdown d-none d-lg-block">
          <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <div class="fa fa-user"></div>
            <b><%= current_user.email %></b>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to "Editar cuenta", edit_user_registration_path, class: "fa fa-cog dropdown-item #{'active fw-bold' if current_page?(edit_user_registration_path)}" %>
            <%= link_to "Administrador", admin_bibliographic_files_path, class: "fa fa-cog dropdown-item" %>
            <%= link_to "Salir", destroy_user_session_path, 'data-turbo-method': :get, class: "fa fa-sign-out-alt dropdown-item" %>
          </ul>
        </li>
      <% else %>
        <%= link_to "Iniciar sesión", new_user_session_path, class: "me-5 text-decoration-none text-dark #{'active fw-bold' if current_page?(new_user_session_path)} " %>
      <% end %>
    </li>
  </ul>
</nav>
